*{
    box-sizing: border-box; /*viene dato a tutti gli elementi della pagina. Ricordati che i margini con il box-sizing viene aggiunto*/
}

div{
    background-color: #ff0000;
    /* margin: 10px; */
    /* margin: 30px 15px 20px 25px; */
    /* margin: 10px 20px; */
    /* margin: 10px 20px 15px; */
    /* margin: 5% questo 5% si riferisce alla larghezza dell'elemento genitore*/
    width: 500px;
    /*margin: 10px auto; quando hai un elemento di blocco piu piccolo della dimensione massima e usi questa definizione di margin
    lui farà si che il blocchetto si metterà verso il centro xk vorrà garantire una dimensione di margine equa ai*/
    /* margin-bottom: 10px; */
    margin: 10px 40px;
    margin-bottom: 0;
    padding: 20px;
    /* border-color: green;
    border-width: 5px; non può essere definito in %
    border-style:solid; questo parametro è obbligatorio x fare vedere il tutto */
    border: 10px solid green;  /*versione più compatta*/
    /* border: none; questo comando se voglio annullare il bordo*/
    
} 

div + div{
    background-color: blue;
}